@model List<LabNet.TP7.MVC.Models.ShippersView>            


@{
    ViewBag.Title = "Shippers Page";
}

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Phone Number</th>
            <th scole "col">Action one</th>
        </tr>
    </thead>
    <tbody>
    </tbody>

        @foreach (var shipper in Model)
        {
<tr>
    <td scope="row">@shipper.Id</td>
    <td>@shipper.Name</td>
    <td>@shipper.Phone</td>
    <td>    @Html.ActionLink("Borrar", "Delete", new { id = shipper.Id }, new { onclick = "return confirm('Esta seguro de borrar?')" })</td>
</tr>
        }

</table>

<div>
    @Html.ActionLink("Insertar nueva compania", "Insert")
</div>
<div>
    @Html.ActionLink("Actualizar", "Edit")
</div>